* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  padding: 10px 0;
}

body {
  background-color: #343434;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.2em;
}

a {
  color: #5bcefa;
}

a:hover {
  color: #cccccc;
}

.primarySection {
  margin: 0 auto;
  width: 90%;
  min-height: 200px;
}

.secondarySection {
  background-color: #1e1e1e;
  width: 100%;
  padding: 30px 0;
  margin: 30px 0;
}

/* header and navigation */
nav a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0 50px 0 0;
  display: inline-block;
}

nav a:hover {
  text-decoration: underline;
  color: #ffffff;
}

nav {
  width: 100%;
  background-color: #5bcefa;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
}

.socials {
  background-color: #1e1e1e;
  height: 100%;
  padding: 0 20px;
}

.socials a {
  color: #ffffff;
  padding: 5px;
}

.mainLogo {
  width: 200px;
  padding: 20px;
}

.mainLogoContainer {
  display: flex;
  justify-content: center;
}

/* body and header text */
h1 {
  color: #000;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 20px 0 0px 0;
  padding-top: 8px;
  border-top: solid 3px #5bcefa;
}

h1 span {
  background-color: #5bcefa;
  padding: 10px;
}

/* homepage-specific items */
.homepageContainer {
  width: 100%;
  display: flex;
  flex-flow: column-wrap;
}

.homepageLeft {
  padding-right: 20px;
  flex: 3 1 0;
}

.homepageRight {
  padding-left: 20px;
  flex: 1 1 0;
}

main {
  width: 90%;
  margin: 0 auto;
  max-width: 2000px;
}

.homepage-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 25% 25% 25% 25%;
  column-gap: 25px;
}

.featuredArticle {
  grid-column: 1 / 4;
  grid-row: 1;
}

.post {
  border-bottom: 2px solid #5bcefa;
  padding: 15px 0 20px 0;
}

.featuredArticle img,
.individual-review img {
  height: 375px;
  float: left;
  margin: 0 15px 5px 0;
}

.additional-articles {
  grid-column: 4;
  grid-row: 1;
}

.additional-articles .review-card {
  font-size: 0.9rem;
  line-height: 1.2em;
}

.additional-articles .review-card hr {
  border: 1px solid #2d2d2d;
  border-radius: 5px;
  margin: 5px 0 15px 0;
}

.additional-articles .review-card h2 {
  font-size: 1rem;
}

/* all items in footer */
footer {
  background-color: #1e1e1e;
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  padding-top: 20px;
  margin-top: 30px;
}

.footerLogo {
  width: 100px;
}

.footerContainer {
  width: 60%;
  display: flex;
  flex-flow: column-wrap;
}

.footerLeft {
  padding: 20px;
  flex: 2 1 0;
}

.footerRight {
  padding: 20px;
}

.footerRight ul li {
  list-style-type: none;
  display: block;
  line-height: 2rem;
}

.footerRight ul li a {
  color: #5bcefa;
  text-decoration: none;
}

.footerRight ul li a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.subscribe {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.subscribe input {
  width: 70%;
  padding: 10px;
  background-color: #343434;
  border: none;
  color: #ffffff;
  border-radius: 10px 0 0 10px;
  font-size: 1rem;
}

.submit {
  padding: 10px;
  background-color: #5bcefa;
  border: none;
  color: #1e1e1e;
  border-radius: 0 10px 10px 0;
  font-weight: bold;
  font-size: 1rem;
}

li {
  margin-left: 30px;
}
